<?xml version="1.0"?>
<launch>

  <include file="$(find turtlebot_gazebo)/launch/start_world.launch">
    <arg name="world_file" value="worlds/empty.world" />
  </include>

  <node name="SpawnerWallN" pkg="gazebo_ros" type="spawn_model" output="screen" args="-file $(find larm)/models/wall/model.sdf -sdf -model wallN -x 10.3 -y 0.0 -Y 1.57" />
  <node name="SpawnerWallS" pkg="gazebo_ros" type="spawn_model" output="screen" args="-file $(find larm)/models/wall/model.sdf -sdf -model wallS -x -10.3 -y 0.0 -Y 1.57" />
  <node name="SpawnerWallE" pkg="gazebo_ros" type="spawn_model" output="screen" args="-file $(find larm)/models/wall/model.sdf -sdf -model wallE -x 0.0 -y 10.3" />
  <node name="SpawnerWallW" pkg="gazebo_ros" type="spawn_model" output="screen" args="-file $(find larm)/models/wall/model.sdf -sdf -model wallW -x 0.0 -y -10.3" />

  <node name="SpawnerObs1" pkg="gazebo_ros" type="spawn_model" output="screen" args="-file $(find larm)/models/obstacle1/model.sdf -sdf -model Obs1 -x -2.0 -y -2.0 -Y -0.8" />

  <include file="$(find larm)/launch/spawn_robot.launch">
	  <arg name="x" value="-3.32" />
	  <arg name="y" value="-2.95" />
	  <arg name="yaw" value="2.86" />
  </include>

</launch>
