<?xml version="1.0"?>
<launch>

  <include file="$(find turtlebot_gazebo)/launch/start_world.launch">
    <arg name="world_file" value="worlds/empty.world" />
  </include>

  <!---include file="$(find turtlebot_gazebo)/launch/put_robot_in_world.launch">
  </include-->

  <node name="Spawner1" pkg="gazebo_ros" type="spawn_model" output="screen" args="-file $(find larm)/models/wall/model.sdf -sdf -model wall1 -x 3.0 -y 5.0" />
  <node name="Spawner2" pkg="gazebo_ros" type="spawn_model" output="screen" args="-file $(find larm)/models/wall/model.sdf -sdf -model wall2 -x 5.0 -y -3.0 -Y 1.54" />
  <node name="Spawner3" pkg="gazebo_ros" type="spawn_model" output="screen" args="-file $(find larm)/models/wall/model.sdf -sdf -model wall3 -x -5.0 -y -5.0 -Y -0.8" />
  <node name="Spawner4" pkg="gazebo_ros" type="spawn_model" output="screen" args="-file $(find larm)/models/nuka-cola/model.sdf -sdf -model bottle1 -x 2.0 -y 2.0" />
</launch>
